{% include 'check_logstate.html' %}
<!DOCTYPE html>
<html>
<HEAD><TITLE>修改密码</TITLE>
<STYLE type=text/css>
BODY {
	MARGIN-LEFT: 0px; BACKGROUND-COLOR: #ffffff
}
</STYLE>
</HEAD>
<BODY>

<TABLE align="center"   cellSpacing=0 cellPadding=0 width="80%" border=0>
  <TBODY>
  <TR>
    <TD align="left" vAlign=top >
        <br>
        <form action="{% url 'Index:changePassword' %}" method="post" name="form1" target="submitFrame">
        {% csrf_token %}
<table width='100%' cellspacing='1' cellpadding='3' bgcolor='#CCCCCC' class="tablewidth">
  <tr>
  	<td align="right" width="35%">以前的密码:</td>
    <td width=65%><input name="oldPassword" type=password /></td>
  </tr>
 <tr>
  	<td align="right" width="35%">输入新密码:</td>
    <td width=65%><input name="newPassword" type=password /></td>
  </tr>
  <tr>
  	<td align="right" width="35%">再输入新密码:</td>
    <td width=65%><input name="newPassword2" type=password /></td>
  </tr>
  <tr bgcolor='#FFFFFF'>
      <td colspan="4" align="center">
        <input type='submit' name='button' value='修改密码' >
        &nbsp;&nbsp;
      </td>
    </tr>
</table>
</form>
 <iframe name="submitFrame" frameborder="0" scrolling="yes" width="100%" height="300px"></iframe>
   </TD>
	</TR>
  </TBODY>
</TABLE>
</BODY>
</HTML>
